/**
 * Admin
 */

.page-admin #content {
  float:none;
  width:100%;  
}

.node-form {
  background:#f8f8f8;
  margin:-19px 0 19px;
  padding:52px 60px;
}

.node-form .form-text,
.node-form .resizable-textarea {
  width:818px;
}

.node-form fieldset.location .form-item {
  float:left;
  margin:0;
  overflow:hidden;
  width:410px;
}

.node-form .container-inline-date {
  clear:none;
  float:left;
  width:240px;
}

.node-form fieldset.location .form-item input {
  width:398px;
}

.node-form fieldset fieldset {
  margin:17px 0;
  width:380px;
}

.node-form fieldset.location fieldset .form-item {
	line-height:18px;
	margin:0;
  width:390px;
}

.node-form fieldset.location #gmap-auto1map-gmap0,
.node-form fieldset.location #gmap-auto1map-locpick_latitude0-wrapper,
.node-form fieldset.location #gmap-auto1map-locpick_longitude0-wrapper,
.node-form fieldset.location-current-coordinates-fieldset {
  clear:none;
  float:none;
  margin-left:420px;
}

.node-form .description {
  color:#777;
  font-size:12px;
}

.node-form .location .description {
  margin:0 0 18px;
}

.node-form .location #gmap-auto1map-gmap0 {
  height:198px!important;
  width:410px!important;
}

.node-form .vertical-tabs .form-text,
.node-form .vertical-tabs .resizable-textarea {
  width:578px;
}

.node-form div.vertical-tabs {
  margin-left:170px;
}

.node-form .vertical-tabs ul.vertical-tabs-list {
  left:-170px;
  width:170px;
}

.node-form div.vertical-tabs .vertical-tabs-panes fieldset.vertical-tabs-pane {
  margin-left:-1px!important;
  padding:0 10px;
}

.block-region {
  border:2px dashed #1f1f1f;  
  margin:5px 0;
  padding:5px;  
}

.page-admin thead,
table.sticky-header,
#blocks tableHeader-processed {
  background-color:#1f1f1f;
  color:#fff;
}

#blocks .region {
  background-color:#eee;
  border-bottom:1px solid #666;
}

.page-admin th {
  background:#1f1f1f;
  border:1px solid #666;
  border-width:0 1px;
  padding:5px;
}

.page-admin .system-status-report th {
  color:#fff;
  padding:5px 10px 5px 0;
  text-align:right;
}

.page-admin tr {
  border-bottom: 1px solid #ccc;  
}

.page-admin tr.region-populated {
  display:none;
}

.page-admin tr.region-empty {
  color:#999;  
}

.page-admin td {
  padding:5px;  
}

.page-admin tr.odd {
  background:#f4f4f4;
}

.page-admin td a {
  color: #fa5e00;
}

a.tabledrag-handle:hover {
	border:none;
}

.page-admin td .form-item {
  line-height:20px;
  margin:0;
}

.content-overview-links {
  font-weight:700;
}

body.admin-menu {
  margin-top:36px!important;
}

/**
 * Grid
 */
#grid {
	margin-left:-480px;
	left:50%;
	position:absolute;
	top:0;	
  width:960px;
}

#grid div.vert {
	border:solid red;
	border-width:0 1px;
	margin-left:9px;
  width:49px;
}

#grid div.vert.first-line {
  margin-left:5px;
}

#grid div.horiz {
  border-bottom:1px solid #eee;
  height:17px;  
  margin:0;
  padding:0;
}