/**
 * Admin
 */

.page-admin #content {
  float:none;
  width:100%;  
}

.block-region {
  border:2px dashed #1f1f1f;  
  margin:5px 0;
  padding:5px;  
}

.page-admin thead,
table.sticky-header,
#blocks tableHeader-processed {
  background-color:#1f1f1f;
  color:#fff;
}

#blocks .region {
  background-color:#eee;
  border-bottom:1px solid #666;
}

.page-admin th {
  background:#1f1f1f;
  border:1px solid #666;
  border-width:0 1px;  
}

.page-admin .system-status-report th {
  color:#fff;
  padding:5px 10px 5px 0;
  text-align:right;
}

.page-admin tr {
  border-bottom: 1px solid #ccc;  
}

.page-admin tr.region-populated {
  display:none;
}

.page-admin tr.region-empty {
  color:#999;  
}

.page-admin td {
  padding:5px;  
}

.page-admin tr.odd {
  background:#f4f4f4;
}

.page-admin td a {
  color: #fa5e00;
}

a.tabledrag-handle:hover {
	border:none;
}

.page-admin td .form-item {
  line-height:20px;
  margin:0;
}

.content-overview-links {
  font-weight:700;
}

/**
 * Hashgrid
 */
#grid {
	margin-left:-480px;
	left:50%;
	position:absolute;
	top:0;	
  width:960px;
}

#grid div.vert {
	border:solid #1f1f1f;
	border-width:0 1px;
	margin-right:9px;
  width:49px;
}
